$resources: (
  "iron-plate" #9e9faf "https://wiki.factorio.com/images/Iron_plate.png",
  "iron-ore" #4f5267 "https://wiki.factorio.com/images/Iron_ore.png",
  "copper-plate"  #966237 "https://wiki.factorio.com/images/Copper_plate.png",
  "copper-ore"  #af5628 "https://wiki.factorio.com/images/Copper_ore.png",
  "accumulator" #89ebee "https://wiki.factorio.com/images/Accumulator.png",
  "advanced-circuit" #c50001 "https://wiki.factorio.com/images/Advanced_circuit.png",
  "arithmetic-combinator" #1f404d "https://wiki.factorio.com/images/Arithmetic_combinator.png",
  "artillery-turret" #6f6f62 "https://wiki.factorio.com/images/Artillery_turret.png",
  "assembling-machine-1" #4b4443 "https://wiki.factorio.com/images/Assembling_machine_1.png",
  "assembling-machine-2" #6b6c8c "https://wiki.factorio.com/images/Assembling_machine_2.png",
  "assembling-machine-3" #415129 "https://wiki.factorio.com/images/Assembling_machine_3.png",
  "battery" #7f9fa9 "https://wiki.factorio.com/images/Battery.png",
  "battery-equipment" #8a4e9b "https://wiki.factorio.com/images/Battery_equipment.png",
  "battery-mk2-equipment" #321a50 "https://wiki.factorio.com/images/Battery_mk2_equipment.png",
  "beacon" #c4c367 "https://wiki.factorio.com/images/Beacon.png",
  "belt-immunity-equipment" #eaad52 "https://wiki.factorio.com/images/Belt_immunity_equipment.png",
  "big-electric-pole" #76838a "https://wiki.factorio.com/images/Big_electric_pole.png",
  "boiler" #f3e694 "https://wiki.factorio.com/images/Boiler.png",
  "burner-generator" #2a2929 "https://wiki.factorio.com/images/Burner_generator.png",
  "burner-inserter" #333037 "https://wiki.factorio.com/images/Burner_inserter.png",
  "burner-mining-drill" #4e4242 "https://wiki.factorio.com/images/Burner_mining_drill.png",
  "centrifuge" #5fa663 "https://wiki.factorio.com/images/Centrifuge.png",
  "chemical-plant" #32a2b3 "https://wiki.factorio.com/images/Chemical_plant.png",
  "coal"  #000000 "https://wiki.factorio.com/images/Coal.png",
  "coin"  #000000 "https://wiki.factorio.com/images/Coin.png",
  "concrete" #313336 "https://wiki.factorio.com/images/Concrete.png",
  "constant-combinator" #9c4b4a "https://wiki.factorio.com/images/Constant_combinator.png",
  "construction-robot" #3f383d "https://wiki.factorio.com/images/Construction_robot.png",
  "copper-cable" #bd8f80 "https://wiki.factorio.com/images/Copper_cable.png",
  "crude-oil-barrel" #171818 "https://wiki.factorio.com/images/Crude_oil_barrel.png",
  "decider-combinator" #c3912f "https://wiki.factorio.com/images/Decider_combinator.png",
  "discharge-defense-equipment" #162f2d "https://wiki.factorio.com/images/Discharge_defense_equipment.png",
  "electric-energy-interface" #615b7e "https://wiki.factorio.com/images/Electric_energy_interface.png",
  "electric-engine-unit" #931314 "https://wiki.factorio.com/images/Electric_engine_unit.png",
  "electric-furnace" #314563 "https://wiki.factorio.com/images/Electric_furnace.png",
  "electric-mining-drill" #046f85 "https://wiki.factorio.com/images/Electric_mining_drill.png",
  "electronic-circuit" #087008 "https://wiki.factorio.com/images/Electronic_circuit.png",
  "empty-barrel" #706f6f "https://wiki.factorio.com/images/Empty_barrel.png",
  "energy-shield-equipment" #3a7575 "https://wiki.factorio.com/images/Energy_shield_equipment.png",
  "energy-shield-mk2-equipment" #971b0f "https://wiki.factorio.com/images/Energy_shield_mk2_equipment.png",
  "engine-unit" #584a34 "https://wiki.factorio.com/images/Engine_unit.png",
  "exoskeleton-equipment" #281510 "https://wiki.factorio.com/images/Exoskeleton_equipment.png",
  "explosives" #591807 "https://wiki.factorio.com/images/Explosives.png",
  "express-loader" #466b7f "https://wiki.factorio.com/images/Express_loader.png",
  "express-splitter" #79c9dc "https://wiki.factorio.com/images/Express_splitter.png",
  "express-transport-belt" #1b6c89 "https://wiki.factorio.com/images/Express_transport_belt.png",
  "express-underground-belt" #2a2f37 "https://wiki.factorio.com/images/Express_underground_belt.png",
  "fast-inserter" #586b79 "https://wiki.factorio.com/images/Fast_inserter.png",
  "fast-loader" #e4473e "https://wiki.factorio.com/images/Fast_loader.png",
  "fast-splitter" #d54640 "https://wiki.factorio.com/images/Fast_splitter.png",
  "fast-transport-belt" #c62b19 "https://wiki.factorio.com/images/Fast_transport_belt.png",
  "fast-underground-belt" #381e17 "https://wiki.factorio.com/images/Fast_underground_belt.png",
  "filter-inserter" #5c2383 "https://wiki.factorio.com/images/Filter_inserter.png",
  "flamethrower-turret" #934019 "https://wiki.factorio.com/images/Flamethrower_turret.png",
  "flying-robot-frame" #a08d5b "https://wiki.factorio.com/images/Flying_robot_frame.png",
  "fusion-reactor-equipment" #5c594b "https://wiki.factorio.com/images/Fusion_reactor_equipment.png",
  "gate" #746209 "https://wiki.factorio.com/images/Gate.png",
  "green-wire" #28a133 "https://wiki.factorio.com/images/Green_wire.png",
  "gun-turret" #5e3b1f "https://wiki.factorio.com/images/Gun_turret.png",
  "hazard-concrete" #472507 "https://wiki.factorio.com/images/Hazard_concrete.png",
  "heat-exchanger" #710303 "https://wiki.factorio.com/images/Heat_exchanger.png",
  "heat-interface" #610807 "https://wiki.factorio.com/images/Heat_interface.png",
  "heat-pipe" #c4605f "https://wiki.factorio.com/images/Heat_pipe.png",
  "heavy-oil-barrel" #66221e "https://wiki.factorio.com/images/Heavy_oil_barrel.png",
  "infinity-chest" #000000 "https://wiki.factorio.com/images/Infinity_chest.png",
  "infinity-pipe" #000000 "https://wiki.factorio.com/images/Infinity_pipe.png",
  "inserter" #6c4515 "https://wiki.factorio.com/images/Inserter.png",
  "iron-chest" #452e22 "https://wiki.factorio.com/images/Iron_chest.png",
  "iron-gear-wheel" #4e514e "https://wiki.factorio.com/images/Iron_gear_wheel.png",
  "iron-stick" #464d51 "https://wiki.factorio.com/images/Iron_stick.png",
  "item-unknown"  #000000 "https://wiki.factorio.com/images/Item_unknown.png",
  "lab" #182657 "https://wiki.factorio.com/images/Lab.png",
  "land-mine" #6a6057 "https://wiki.factorio.com/images/Land_mine.png",
  "landfill" #726f31 "https://wiki.factorio.com/images/Landfill.png",
  "laser-turret" #895a01 "https://wiki.factorio.com/images/Laser_turret.png",
  "light-oil-barrel" #704c1e "https://wiki.factorio.com/images/Light_oil_barrel.png",
  "linked-belt" #000000 "https://wiki.factorio.com/images/Linked_belt.png",
  "linked-chest" #000004 "https://wiki.factorio.com/images/Linked_chest.png",
  "loader"  #000000 "https://wiki.factorio.com/images/Loader.png",
  "logistic-chest-active-provider" #2c1146 "https://wiki.factorio.com/images/Logistic_chest_active_provider.png",
  "logistic-chest-buffer" #093705 "https://wiki.factorio.com/images/Logistic_chest_buffer.png",
  "logistic-chest-passive-provider" #902d2a "https://wiki.factorio.com/images/Logistic_chest_passive_provider.png",
  "logistic-chest-requester" #073f5a "https://wiki.factorio.com/images/Logistic_chest_requester.png",
  "logistic-chest-storage" #553809 "https://wiki.factorio.com/images/Logistic_chest_storage.png",
  "logistic-robot" #3e3524 "https://wiki.factorio.com/images/Logistic_robot.png",
  "long-handed-inserter" #561212 "https://wiki.factorio.com/images/Long-handed_inserter.png",
  "low-density-structure" #877953 "https://wiki.factorio.com/images/Low_density_structure.png",
  "lubricant-barrel" #103f09 "https://wiki.factorio.com/images/Lubricant_barrel.png",
  "medium-electric-pole" #4a3c2e "https://wiki.factorio.com/images/Medium_electric_pole.png",
  "night-vision-equipment" #2cb011 "https://wiki.factorio.com/images/Night_vision_equipment.png",
  "nuclear-fuel" #227410 "https://wiki.factorio.com/images/Nuclear_fuel.png",
  "nuclear-reactor" #01f502 "https://wiki.factorio.com/images/Nuclear_reactor.png",
  "offshore-pump" #537b81 "https://wiki.factorio.com/images/Offshore_pump.png",
  "oil-refinery" #415710 "https://wiki.factorio.com/images/Oil_refinery.png",
  "personal-laser-defense-equipment" #815331 "https://wiki.factorio.com/images/Personal_laser_defense_equipment.png",
  "personal-roboport-equipment" #5b3f39 "https://wiki.factorio.com/images/Personal_roboport_equipment.png",
  "personal-roboport-mk2-equipment" #4f90c6 "https://wiki.factorio.com/images/Personal_roboport_mk2_equipment.png",
  "petroleum-gas-barrel" #4e2e4d "https://wiki.factorio.com/images/Petroleum_gas_barrel.png",
  "pipe" #a47647 "https://wiki.factorio.com/images/Pipe.png",
  "pipe-to-ground" #28231b "https://wiki.factorio.com/images/Pipe_to_ground.png",
  "plastic-bar" #313132 "https://wiki.factorio.com/images/Plastic_bar.png",
  "player-port" #5e6253 "https://wiki.factorio.com/images/Player_port.png",
  "power-switch" #223452 "https://wiki.factorio.com/images/Power_switch.png",
  "processing-unit" #0050fe "https://wiki.factorio.com/images/Processing_unit.png",
  "programmable-speaker" #393736 "https://wiki.factorio.com/images/Programmable_speaker.png",
  "pump" #b28568 "https://wiki.factorio.com/images/Pump.png",
  "pumpjack" #6ea563 "https://wiki.factorio.com/images/Pumpjack.png",
  "radar" #a59062 "https://wiki.factorio.com/images/Radar.png",
  "rail-chain-signal" #217881 "https://wiki.factorio.com/images/Rail_chain_signal.png",
  "rail-signal" #a2810f "https://wiki.factorio.com/images/Rail_signal.png",
  "red-wire" #f51010 "https://wiki.factorio.com/images/Red_wire.png",
  "refined-concrete" #505152 "https://wiki.factorio.com/images/Refined_concrete.png",
  "refined-hazard-concrete" #b29762 "https://wiki.factorio.com/images/Refined_hazard_concrete.png",
  "roboport" #6a6862 "https://wiki.factorio.com/images/Roboport.png",
  "rocket-control-unit" #005401 "https://wiki.factorio.com/images/Rocket_control_unit.png",
  "rocket-fuel" #b27601 "https://wiki.factorio.com/images/Rocket_fuel.png",
  "rocket-part" #558887 "https://wiki.factorio.com/images/Rocket_part.png",
  "rocket-silo" #3a0001 "https://wiki.factorio.com/images/Rocket_silo.png",
  "satellite" #657ed4 "https://wiki.factorio.com/images/Satellite.png",
  "simple-entity-with-force"  #000000 "https://wiki.factorio.com/images/Simple_entity_with_force.png",
  "simple-entity-with-owner"  #000000 "https://wiki.factorio.com/images/Simple_entity_with_owner.png",
  "small-electric-pole" #382920 "https://wiki.factorio.com/images/Small_electric_pole.png",
  "small-lamp" #1b1b1c "https://wiki.factorio.com/images/Small_lamp.png",
  "solar-panel" #24697c "https://wiki.factorio.com/images/Solar_panel.png",
  "solar-panel-equipment" #296c7d "https://wiki.factorio.com/images/Solar_panel_equipment.png",
  "solid-fuel" #4d4d4e "https://wiki.factorio.com/images/Solid_fuel.png",
  "splitter" #eecd4e "https://wiki.factorio.com/images/Splitter.png",
  "stack-filter-inserter" #5e5e5e "https://wiki.factorio.com/images/Stack_filter_inserter.png",
  "stack-inserter" #568015 "https://wiki.factorio.com/images/Stack_inserter.png",
  "steam-engine" #626456 "https://wiki.factorio.com/images/Steam_engine.png",
  "steam-turbine" #595d59 "https://wiki.factorio.com/images/Steam_turbine.png",
  "steel-chest" #16100f "https://wiki.factorio.com/images/Steel_chest.png",
  "steel-furnace" #222822 "https://wiki.factorio.com/images/Steel_furnace.png",
  "steel-plate" #83837c "https://wiki.factorio.com/images/Steel_plate.png",
  "stone" #9c7746 "https://wiki.factorio.com/images/Stone.png",
  "stone-brick" #2c2d2e "https://wiki.factorio.com/images/Stone_brick.png",
  "stone-furnace" #342b05 "https://wiki.factorio.com/images/Stone_furnace.png",
  "stone-wall" #271d14 "https://wiki.factorio.com/images/Wall.png",
  "storage-tank" #605847 "https://wiki.factorio.com/images/Storage_tank.png",
  "substation" #284f6a "https://wiki.factorio.com/images/Substation.png",
  "sulfur" #948901 "https://wiki.factorio.com/images/Sulfur.png",
  "sulfuric-acid-barrel" #72972a "https://wiki.factorio.com/images/Sulfuric_acid_barrel.png",
  "train-stop" #c14542 "https://wiki.factorio.com/images/Train_stop.png",
  "transport-belt" #9a7b38 "https://wiki.factorio.com/images/Transport_belt.png",
  "underground-belt" #c7871e "https://wiki.factorio.com/images/Underground_belt.png",
  "uranium-235" #132714 "https://wiki.factorio.com/images/Uranium_235.png",
  "uranium-238" #60a061 "https://wiki.factorio.com/images/Uranium_238.png",
  "uranium-fuel-cell" #2fbc1c "https://wiki.factorio.com/images/Uranium_fuel_cell.png",
  "uranium-ore" #a1da39 "https://wiki.factorio.com/images/Uranium_ore.png",
  "used-up-uranium-fuel-cell" #032202 "https://wiki.factorio.com/images/Used_up_uranium_fuel_cell.png",
  "water-barrel" #14354e "https://wiki.factorio.com/images/Water_barrel.png",
  "wood" #6b3309 "https://wiki.factorio.com/images/Wood.png",
  "wooden-chest" #ce9442 "https://wiki.factorio.com/images/Wooden_chest.png",
);

@each $value in $resources {
  .#{nth($value, 1)} {
    background: url(nth($value, 3));
  }
  .#{nth($value, 1)}-color-marker {
    background: nth($value, 2);
  }
  .#{nth($value, 1)}-color .mat-progress-bar-fill::after {
    background-color: nth($value, 2);
  }
}

.kumuki-row {
  display: flex;

  .first {
    margin-left: 0px!important;
  }

  .second {
    margin-right: 0px!important;
  }
}

@media (min-width: 1300px) {
  .kumuki-sm {
    display: none;
  }

  .kumuki-table {
    width: 50%!important;
    height: fit-content;
  }

  .kumuki-row {
    flex-direction: row;

    > * {
      margin: 20px!important;
    }
  }

}

@media (max-width: 1300px) {
  .kumuki-lg {
    display: none;
  }

  .kumuki-table {
    width: 100%!important;
  }

  .kumuki-row {
    flex-direction: column;

    > * {
      margin-bottom: 20px;
    }
  }
}

.resource-image {
  width: 30px!important;
  height: 30px!important;
  background-size: 100%!important;
}

.resource-color-marker {
  width: 10px!important;
  height: 46px!important;
}

.mat-progress-bar .mat-progress-bar-fill {
  animation: none;
  transform-origin: top left;
  transition: transform 400ms linear!important;
}

.mat-progress-bar {
  animation: none;
  transform-origin: top left!important;
  transition: transform 400ms linear!important;
}
